@charset "utf-8";

//-----LESS:    width: ~"calc(50% - 20px)";
//-----CSS:    width: calc(50% - 20px);

header,
section,
footer,
aside,
nav,
main,
article,
figure {
    display: block;
}

div,
header,
nav,
article,
section,
aside,
footer,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
li,
figure,
figcaption,
class,
img {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    border: 0 solid transparent;
    font-size: 16px;
    margin: 0;
    min-height: 100%;
    padding: 0;
    width: 100%;
    display: block;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

img,
object,
embed,
canvas,
video,
audio,
picture,
svg {
    max-width: 100%;
    height: auto;
}

img {
    display: block;
}

a {
    text-decoration: none;
    color: black;
}

/* ------------------------------- RECURENTES -- */
//------ .clear pour LESS
.clear {
    display: block;
    zoom: 1;

    &:after {
        content: " ";
        display: block;
        font-size: 0;
        height: 0;
        clear: both;
        visibility: hidden;
    }
}

.center {
    width: 960px;
    margin: 0 auto;
}

/* ------------------------------- END RECURENTES -- */

.burger{
    display: none;
    width: 10%;
    height: 50px;
    cursor: pointer;
    position: absolute;
    position: fixed;
    top: 20px;
    left: 0;
    left: 10px;
    z-index: 40000;
    transition: all 0.3s ease-in-out;
    span{
        display: block;
        width: 30px;
        height: 2px;
        background-color: #dd2656;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: all 0.3s ease-in-out;
        &:nth-child(2){
            top: 70%;
            width: 25px;
        }
        &:nth-child(3) {
            top: 90%;
        }

    }

}
.activ{
    background-color: #fff;
    a{
        color: #CE0033 !important;
        i{
            color: #CE0033 !important;
        }
    }
    &:hover{
        background-color: #fff !important;
    a{
        color: #CE0033 !important;
        i{
            color: #CE0033 !important;
        }
    }
    }
}

.row .col.l4 {
    width: 28.333333%;
    margin-left: auto;
    left: auto;
    right: auto;
}
.modal{
    height: 280px !important;
    top: 50%;
    transform: translate(15%, -50%);
    .chips {
        margin-top: 50px;
    }
        .modal-footer{
            a{
            &.stop{
                padding: 15px 30px;
                background: #FFFFFF !important;
                border: 1px solid #CE0033 !important;
                box-sizing: border-box !important;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
                color: #CE0033 !important;
                margin-right: 30px;
            }
            &.val{
                padding: 15px 45px;
                background: #CE0033 !important;
                box-sizing: border-box !important;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
                color: white !important;
            }
        }
        }

}



li {
    list-style-type: none;

}
.test {
    height: 100vh;
    display: flex;
    justify-content: center;
    padding-left: 80px !important;
    align-items: center;
    h2 {

        color: #000;
        font-size: 20px !important;
        letter-spacing: 1.5px;
        font-weight: 600;
        text-transform: uppercase;
    }

    .contener-profil {

        width: 90%;
        height: auto;
        border: solid 1px #7A7777;
        border-radius: 6px;

        .contener-img {

            display: flex;
            flex-wrap: wrap;
            position: relative;
            padding-top: 60px;
            padding-left: 40px;
            padding-bottom: 160px;
            .contener-image{

              position: relative;
            height: 100px;
            width: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 100%;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            overflow: hidden;
        img {
            display: block;
            border-radius: 2px 2px 0 0;
            position: relative;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            width: 100%;
            }
        }

            span {

                &.statut {

                    background-color: #13D578;
                    height: 15px;
                    width: 15px;
                    border-radius: 100%;
                    display: block;
                    position: absolute;
                    top: 140px;
                    left: 115px;
                }

            }

            .contener-text {

                line-height: 40px;
                padding-top: 20px;
                position: absolute;
                top: 150px;
                .card-title {
                    color: #CE0033;
                    display: block;
                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: 500;
                    letter-spacing: 1.5px;
                    font-size: 18px;
                    width: 89%;
                    text-transform: uppercase;
                    word-wrap: break-word !important;



                }

                .card-subTitle {
                    color: #786A6A;
                    letter-spacing: 1.5px;
                    display: block;
                    text-transform: uppercase;
                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: 500;

                    word-wrap: break-word;
                    font-size: 14px;
                    height: 30px;

                }



            }
        }

        .contener-description {

            padding: 40px;
            padding-top: 2px;
            padding-bottom: 100px;
            border-right: solid 1px #010000;
            margin-bottom: 20px;

            h2 {

                padding-bottom: 30px;
                margin-top: 24px;

            }


            p {
                color: #7A7777;
                font-size: 15px;
                font-weight: 300;
                width: 85%;

            }

        }

        .contener-message {

            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding: 53px;

            li {

                a {
                    position: relative;
                    color: #786A6A;
                    text-transform: uppercase;
                    letter-spacing: 0.15em;
                    line-height: 20px;


                    i {
                        position: absolute;
                        color: #786A6A;
                        font-weight: 100;
                        left: -50px;
                        top: -2px;

                    }
                }
            }

        }

        .contener-parametres {

            padding-top: 0px;
            padding-left: 80px;

            .promo {

                margin-left: -12px;
                letter-spacing: 1.5px;
            }

            .titre-techno {

                margin-top: 30px;
                letter-spacing: 1.5px;
            }

            p {
                color: #786A6A;
                padding: 0px 20px 0px 20px;
                font-size: 18px;

                &.annee {

                    padding-left: 60px;
                    padding-bottom: 30px;
                    padding-top:20px;
                }

                &.ville {
                    padding-top: 20px;
                    margin-left: -20px;
                    padding-bottom: 30px;
                }
            }
        }

        .techno {

            display: flex;
            flex-wrap: wrap;
            width: 80%;

            .tech {

                width: calc(36% - 60px);
                text-align: center;
                color: #9D9797;
                border: 1px solid #9D9797;
                padding: 8px 2px !important;
                margin: 13px 40px 15px 4px;



                &:hover {

                    background-color: #CE0033;
                    color: #fff;
                    transition: all 0.5s;
                }
            }


        }

        .social {

            padding-top: 20px;


            a {
                display: none;
                padding-right: 40px;
                font-size: 20px;
                font-weight: 300;
                color: #6A5F5F;

                &:hover {

                    color: #CE0033;
                    transition: all 0.5s;

                    i {
                        color: #CE0033;
                    }
                }

                i {

                    padding-right: 5px;
                    font-size: 20px;
                    color: #6A5F5F;

                    &.fa-user {

                        font-size: 18px;
                    }
                }

            }

        }

    }
}

















.open {
    right: 30px !important;
    transition: all 1s !important;
}

.pop-up-filtre {
    position: absolute;
    height: 700px;
    right: -800px;
    z-index: 999;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .12), inset 0 -1px 0 0 #dadce0;
    top: 20px;
    width: 370px;
    background-color: #fff;
    transition: all 1s !important;

    .contener-haut {
        position: relative;
        padding-bottom: 30px;

        h1 {
            font-size: 20px;
            padding-left: 10px;
            position: absolute;
            top: -30px;
        }

        .close {
            cursor: pointer;


            span {
                width: 15px;
                height: 2px;
                transform: rotate(-45deg) !important;
                background-color:white;
                position: absolute;
                right: 10px;
                top: 20px;
                z-index: 999999 !important;

                &.deux {
                    transform: rotate(45deg) !important;
                }
            }
        }
    }

    form {
        padding: 10px;

        h2 {
            color: #6A5F5F;
            font-size: 20px;
            letter-spacing: 1px;
            font-weight: 600;

        }

        &.lieux {
            p {
                display: flex;
                flex-wrap: wrap;

                label {
                    width: 50%;
                    padding-bottom: 10px;
                }
            }
        }

        &.tech {
            p {
                display: flex;
                flex-wrap: wrap;

                label {
                    width: 50%;
                    padding-bottom: 10px;
                }
            }
        }
    }
}

.end {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 80px;
}

.acceuil {
    height: 769px;

    .row {
        .container {
            position: relative;
            width: 90% !important;
            max-width: inherit !important;

            .container-bienvenue {
                h1 {
                    color: black;
                    font-size: 100px !important;
                    font-weight: 700 !important;
                    text-align: justify;
                    padding: 40px;
                    font-family: Montserrat;
                    padding-top: 10px;
                    z-index: 3;

                    span {
                        color: #CE0033;
                    }
                }
            }

            .container-illu {
                position: absolute;
                // background-color: #f8f8f8;
                width: 40%;
                height: 600px;
                top: 150px;
                left: 55px;
                z-index: -1;
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    width: 100%;
                }
            }

            .droite {
                position: absolute;
                width: 40%;
                top: 120px;

                .suis {
                    // background-color: #F8F8F8;
                    width: 100%;
                    padding-bottom: 20px;

                    h2 {
                        font-family: Montserrat;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 20px;
                        line-height: 24px;
                        text-transform: uppercase;
                        padding: 20px;
                        padding-bottom: 5px;
                    }

                    .container-button {
                        margin: 0 auto;
                        width: 80%;
                        height: 50px;
                        display: flex;
                        justify-content: center;

                        .al {
                            width: 50%;
                            text-align: center;
                            padding: 10px;
                            background: rgba(227, 227, 227, 0.73);
                            font-weight: bold;
                            font-size: 20px;
                            // text-transform: uppercase;
                            border-right: 3px solid rgba(54, 55, 55, 0.26);
                            cursor: pointer;
                        }

                        .re {
                            width: 50%;
                            padding: 10px;
                            text-align: center;
                            background: rgba(227, 227, 227, 0.73);
                            font-weight: bold;
                            color: #C5BBBB;
                            font-size: 20px;
                            cursor: pointer;
                        }
                    }
                }

                form {
                    // background-color: #f8f8f8;
                    height: auto;
                    width: 100%;
                    margin-top: 30px;
                    padding-top: 10px;

                    .box {
                        position: relative;
                        display: flex;
                        justify-content: center;

                        label {
                            color: rgb(143, 143, 143);
                            font-size: 20px;
                            padding-left: 80px;
                            font-weight: 700;
                            text-transform: uppercase;
                            width: 100%;
                            top: 10px;
                            position: absolute;
                            padding-top: 0px;
                            pointer-events: none;
                            transition: all 0.5s;
                        }

                        input {
                            width: 80%;
                            display: block;

                            height: 50px;
                            border: none;
                            background-color: #E3E3E3;
                            margin-bottom: 40px;
                            outline: none;
                            padding-left: 20px;

                        }

                        input[type=mail]:focus+label,
                        input[type=mail]:valid+label {
                            top: -35px;
                            font-size: 15px;
                            color: #CE0033;
                            padding-left: 70px;
                        }

                        input[type=password]:focus+label,
                        input[type=password]:valid+label {
                            top: -25px;
                            font-size: 15px;
                            color: #CE0033;
                            padding-left: 70px;
                        }
                    }

                    input[type=submit] {
                        width: 80%;
                        display: block;
                        margin: 0 auto;
                        background-color: #CE0033;
                        color: #fff;
                        border: none;
                        outline: none;
                        margin-bottom: 40px;
                        height: 50px;
                        font-size: 20px;
                        text-transform: uppercase;
                        font-weight: 700;
                        cursor: pointer;
                    }
                    input[type=password]:not(.browser-default):focus:not([readonly]){
                        box-shadow: none;
                    }
                    input[type=password] {
                        width: 77%;
                        margin-bottom: 10px;
                    }

                    .container-oublie {
                        width: 90%;
                        display: flex;
                        padding-bottom: 50px;

                        a {

                            width: 100%;
                            text-align: right;
                            font-family: Montserrat;
                            color: black;
                        }
                    }
                }
            }
        }
    }
}

footer {
    background-color: black !important;
    width: 100%;
    height: 200px;

    .row {
        margin-bottom: 40px;

        .container-picto {
            display: flex;
            justify-content: flex-end;
            width: 68%;

            a {
                margin-left: 25px;

                i {
                    color: white;
                    font-size: 45px !important;
                }
            }
        }
    }

}

.footer-copyright {

    .container {
        text-align: right !important;
    }
}



.sidenav {
    backface-visibility: inherit !important;
    transform: none !important;
    background-color: #CE0030 !important;
    width: 330px !important;

    .closerespo {
        z-index: 8000 !important;
        display: none;
        width: 40px;
        height: 40px;
        right: 30px;
        top: 30px;
        position: absolute;
        span{
            top: 20px;
    position: absolute;
    height: 2px;
    width: 40px;
    background-color: white;
    transform: rotate(45deg);
            &:nth-child(1) {
                transform: rotate(-45deg);
            }
        }
    }
    .contener-nav {
        padding-left: 50px;
        padding-top: 50px;

        .nav-gauche {

            a {
                color: white ;
                padding-left: 30px;
                font-size: 20px;
                font-weight: 300;
                margin-bottom: 10px !important;

                i {
                    color: white;
                    font-weight: 300 !important;
                }

            }

            button {
                border: solid 1px white;
                background-color: transparent !important;
            }
        }
    }

    .btn-flat {
        margin: 0 auto;
        color: white !important;
        margin-left: 17%;
        margin-top: 80px;
        width: 200px;
        height: 50px;
        text-align: center;
        padding-top: 8px;
        border-radius: 100px;
        border: solid 1px white;
        transition: all 0.5s;

        &:hover {
            border: none;
            background-color: rgb(223, 219, 219);
            color: #CE0033 !important;
            transition: all 0.5s;
        }
    }

}

.background {
    background-image: none !important;
}

.user-view {
    padding-top: 60px !important;
    position: relative;
    .contener-image{
        position: relative;
        height: 80px;
        width: 80px;
        top: 33px;
        left: 33px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        overflow: hidden;
    a {
        display: block;
        border-radius: 2px 2px 0 0;
        position: relative;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        }
        .circle {
            height: 104px !important;
            width: 129px !important;

        }


    }
    span {
        font-size: 15px !important;

        &.etat {
            font-size: 12px !important;
            font-weight: 300;
            padding-left: 20px;
            padding-top: 10px !important;
            position: absolute;
            top: 94px;
            left: 154px;
        }

        &.name {
            margin-top: 36px !important;
            position: relative;
            top: -80px;
            padding-left: 140px;
        }

        &.statut {

            background-color: #13D578;
            height: 15px;
            width: 15px;
            border-radius: 100%;
            display: block;
            position: absolute;
            bottom: 25px;
            right: 190px;
        }
    }
}

.contener-global {


    .contener-main {
        position: absolute;
        left: 340px;
        width: 82%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        .contener-nav {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding-right: 110px !important;

            .col {
                .panneau{
                    border: 2px solid #CE0033;
                    width: 220px;
                    height: 44px;
                    font-family: Nunito;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 14px;
                    color: #D11B1B;
                    padding: 10px 30px;
                    margin-left: 58px;
                }

                .recherche {
                    background-color: #CE0033;
                    height: 50px;
                    width: 50px;
                    border-radius: 100%;
                    position: relative;

                    .material-icons {
                        color: white !important;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }

                .notif {
                    i {


                        color: black !important;
                        font-size: 35px !important;
                    }

                }

                .filtres {
                    color: black !important;
                    padding-left: 30px;
                    font-size: 20px;
                    font-weight: 300;
                    position: relative;
                    margin-bottom: 10px !important;
                    padding-left: 100px;
                    line-height: 40px;

                    i {
                        color: black !important;
                        font-size: 35px;
                        position: absolute;
                        right: 80px;
                        font-weight: 300 !important;
                    }
                }

                .ret {
                    color: black !important;
                    font-size: 25px;
                    margin-left: 85px;
                    font-family: Montserrat;
                    letter-spacing: 0.19em;
                    line-height: 30px;
                    position: relative;
                    border:none;
                    background: none;
                    outline: none;
                    cursor:pointer;
                    i {
                        position: absolute;
                        top: -40px;
                        left: -40px;
                        padding-top: 20px;
                        margin-top: 20px;
                        line-height: 30px;
                        color: black !important;
                    }

                }
            }
        }

        .contener-carte {
            width: 90%;
            overflow-y: scroll;
            height: 860px;
            margin-top: 0px;
            position: relative;
            padding-bottom: 30px;
            padding-right: 20px;
            .ariane{

                width: 100%;
                height: 50px;
                background-color: #CE0033;
                position: relative;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                margin-bottom: 20px;
                p{
                    color: white;
                    font-weight: 300;
                    padding-left: 30px;
                    padding-right:60px;
                    position: relative;
                    text-transform: uppercase;
                    cursor: pointer;
                    &:before{
                        content:"";
                        display: block;
                        height: 1px;
                        background-color: white;
                        width: 30px;
                        position: absolute;
                        top: 50%;
                        right: 15px;
                    }

                }
                h1{
                    color: white;
                }
            }

            .contener-post{
                border: solid 1px #e6e6e6;
                height: auto;
                padding: 20px;
                margin-bottom: 20px;

                width: 100%;

                .contenue-post{
                    display: flex;
                    flex-wrap: wrap;
                    padding: 10px;
                    height: auto;
                    border-bottom: solid 1px #CE0033;
                    width:100%;
                    margin-bottom: 40px;
                    .contener-titre{
                        width: 33.33%;
                        display: flex;
                        align-items: center;
                        word-wrap: break-word;
                        h1{
                            padding-left: 0px;
                            font-weight: 700;
                            font-size: 20px;
                            word-wrap: break-word;


                        }
                    }
                    .contener-stats{
                        display: flex;
                        flex-wrap: wrap;
                        width: 33.33%;
                        justify-content: center;

                        .chiffre{
                            width: 75%;
                            display: flex;
                            flex-wrap: wrap;
                            border-bottom: solid 2px #e6e6e6;
                            text-align: left;
                            p{
                                width: calc(50% - 20px);
                                margin: 10px;
                                margin-bottom: 0px;
                                margin-left: 0;
                            }
                        }
                        .createur{
                            width: 100%;
                            padding-left: 57px;
                        }
                        .datePost{
                            width: 100%;
                            text-align: right;
                        }
                        .lastRep{
                            text-align: right;
                            width: 100%;

                        }

                    }

                }
            }
            .carou{
                border: solid 1px #E6E6E6;
                background-color: #fff;
                width: 673px;
                height: 322px;
                position: relative;
                margin-top: -200px;
                display: flex;
                justify-content: center;
                align-items: center;
                h1{
                    font-size: 70px;
                    position: absolute;
                    right: -60px;
                    top: -50px;
                    font-weight: 700;
                }
                p{
                    color: rgba(0, 0, 0, 0.56);
                    font-size: 18px;
                    text-align: center;
                }
                span{
                    width: 15px;
                    height: 15px;
                    background-color: #c8c8c8;
                    border-radius:100%;
                    position: absolute;
                    opacity: 0.5;
                    bottom:10px;
                    left: 50%;
                    transform: translate(-50%);
                    &.un{
                        transform: translate(100%);

                    }
                    &.trois{
                        transform: translate(-200%);
                        opacity: 1;
                    }
                }

            }

            h4{
                font-family: Montserrat;
                font-style: normal;
                font-weight: bold;
                font-size: 104px;
                color: black;
                text-transform: uppercase;
                padding-bottom: 300px;
                z-index: 50 !important;
                b{
                    color: #CE0033;
                }
            }
            .illuForum{
                position: absolute;
                right: 140px;
                top: 90px;
                transform: scale(1.2);
                z-index: -2 !important;
            }

            .contener-button{
                padding-top: 110px;
                display: flex;
                flex-wrap: wrap;
                a{
                   width: calc(33.33% - 100px);
                    margin: 40px;
                    border: solid 1px #E5E2E2;
                    text-align: center;
                   padding: 10px 20px;
                   font-size: 14px;
                   font-weight: 700;
                }
            }
            .ennoncer {
                overflow: hidden;
                width: 100%;
                height: 117px;
                background-color: #CE0033;
                position: relative;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                margin-bottom: 20px;
                h1{
                    color: rgba(255, 255, 255, 0.27);
                    font-size: 218px;
                    position: absolute;
                    right: 10px;
                    bottom: -90px;
                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: 500;
                }
                p{
                     padding-right: 80px;
                     font-size: 30px;
                     color:white;
                }
            }
            .contenue-annonce{
                display: flex;
                flex-wrap: wrap;
                border: solid 1px #E5E2E2;
                cursor: pointer;
                .contener-lien{
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    height: 20px;
                    a{
                        font-family: Montserrat;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 14px;
                        color: #7A7171;
                        width: 22%;
                        padding-top: 30px;
                    }
                }
                .contener-titre{
                    width: 50%;
                    padding: 45px;
                    h1{
                        font-size: 25px;
                        font-family: Montserrat;
                            font-style: normal;
                            font-weight: bold;
                            display: inline;
                            position: relative;
                            &:before{
                                content:"";
                                display: block;
                                position: absolute;
                                top: 50%;
                                right: -80px;
                                background-color: black;
                                width: 60px;
                                height: 1px;
                            }
                    }
                }
                .contener-number{
                    width: 30%;
                    display: flex;
                    flex-wrap: wrap;
                    padding-top: 60px;
                    .sujet{
                        width: 50%;
                        p{
                            font-size: 45px;
                            color: black;
                            font-family: Montserrat;
                            font-style: normal;
                            font-weight: bold;
                        }
                    }
                    .post{
                        width: 50%;
                        p{
                            font-size: 45px;
                            color: black;
                            font-family: Montserrat;
                            font-style: normal;
                            font-weight: bold;
                        }
                    }
                }
                .contener-info-post{
                    width: 20%;
                    position: relative;
                   h1{
                       text-align: center;
                       padding-top: 20px;
                       font-family: Montserrat;
                       font-style: normal;
                       font-weight: bold;
                       font-size: 18px;
                       padding-right: 30px;
                   }
                   p{
                    text-align: center;
                    padding-top: 5px;
                    padding-bottom: 10px;
                    font-family: Montserrat;
                    font-style: normal;
                    font-size: 14px;
                    padding-right: 30px;
                   }
                    .contener-image-info{
                        left: 50%;
                        transform: translate(-65%);
                        position: relative;
                        height: 100px;
                        width: 100px;
                        display: flex;
                        justify-content: center;
                        margin-bottom: 20px;
                        align-items: center;
                        border-radius: 100%;
                        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
                        overflow: hidden;
                    }
                }
            }

            .avatar {
                border: solid 1px #c8c8c8;
                padding: 20px;

                h2 {
                    padding-left: 20px;
                }
                .tech {
                    margin-top: 20px;
                    border: solid 1px #c8c8c8;
                    padding: 20px;
                    width: calc(100% - 50px);
                    margin: 25px;

                    p {
                        width: 100%;
                        color: #c8c8c8;
                        font-size: 18px;
                    }
                }

                .formation {
                    margin-top: 20px;
                    border: solid 1px #c8c8c8;
                    padding: 20px;
                    width: calc(60% - 50px);
                    margin: 25px;

                    p {
                        width: 100%;
                        color: #c8c8c8;
                        font-size: 18px;
                    }
                }

                .contener-picture {
                    display: flex;
                    flex-wrap: wrap;
                    position: relative;

                    .contener-image {
                        position: relative;
                        height: 100px;
                        width: 100px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 100%;
                        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
                        overflow: hidden;
                        img{
                            display: block;
                            border-radius: 2px 2px 0 0;
                            position: relative;
                            left: 0;
                            right: 0;
                            top: 0;
                            bottom: 0;
                            width: 100%;
                        }
                    }

                    a {
                        position: absolute;
                        right: 150px;
                        background-color: #CE0033;
                        height: 50px;
                        width: 50px;
                        top: 35px;
                        border-radius: 100%;

                        .material-icons {
                            color: white !important;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        }
                    }
                    form {
                        padding-top: 40px;
                        padding-left: 30px;
                        width: 50%;

                        .input-field {
                            .btn {

                                background-color: #CE0033;

                            }
                        }
                    }

                }
            }

            h2 {
                font-size: 20px;
                padding-bottom: 30px;
                font-weight: 700;
                padding-left: 10px;
            }

            .input-field {
                margin: 0px !important;

                input {
                    width: 45%;
                }
            }

            .gauche {
                .input-field {
                    padding-bottom: 30px !important;
                }
            }

            .droite {
                border-left: solid 1px #868080;
                padding-left: 100px;

                .input-field {
                    i {
                        color: #868080 !important;
                    }
                }
            }

            .btn-val {
                background-color: #CE0033;
                padding: 15px 30px;
                border-radius: 40px;
                margin-bottom: 50px;
                border: none;
                appearance: none;
                color: white;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                margin-right: 50px;
                margin-top: 20px;
            }

            textarea {
                height: 300px !important;
                resize: none;
                padding: 80px;
                width: 80%;
            }

            .card {
                margin: 16px;
                height: 380px;
                border: 1px solid rgba(0, 0, 0, 0.13);
                box-shadow: none !important;
                border-radius: 6px;
                cursor: pointer;
                transition: all 0.5s;


                &:hover {
                    transform: scale(1.03) translate(0px, -10px);
                    transition: all 0.5s;
                }

                .card-image {
                    .contener-image {
                        position: relative;
                        height: 80px;
                        width: 80px;
                        top: 33px;
                        left: 33px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 100%;
                        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
                        overflow: hidden;
                    }


                }
                .card-title {
                    color: #CE0033;
                    padding-top: 50px ;
                    display: block;
                    padding-left: 33px !important;
                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: 500;
                    letter-spacing: 1.5px;
                    font-size: 18px;
                    text-transform: uppercase;
                    word-wrap: break-word;

                }

                .card-subTitle {
                    color: #786A6A;
                    letter-spacing: 1.5px;
                    display: block;
                    padding-left: 33px;

                    text-transform: uppercase;
                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: 500;
                    word-wrap: break-word;
                    font-size: 14px;
                    height: 30px;

                }
                .card-content {


                    p {
                        color: #7A7777 !important;
                        padding-left: 10px;
                        width: 98%;
                        text-overflow: ellipsis;
                        word-wrap: break-word;
                    }
                }
            }
        }
    }
}
.chips.focus{
    border-bottom: 1px solid #CE0030;
    box-shadow: 0 1px 0 0 #CE0030;
}
input[type=text]:not(.browser-default):focus:not([readonly])+label{
    color:  #CE0030;
}
input[type=text]:not(.browser-default):focus:not([readonly]){
    border-bottom: 1px solid #CE0030;
    box-shadow: 0 1px 0 0 #CE0030;
}
input[type=password]:not(.browser-default):focus:not([readonly])+label{
    color:  #CE0030;
}

input[type=password]:not(.browser-default):focus:not([readonly]){
    border-bottom: 1px solid #CE0030;
    box-shadow: 0 1px 0 0 #CE0030;
}
input.valid[type=text]:not(.browser-default){
    border-bottom: 1px solid #CE0030;
    box-shadow: 0 1px 0 0 #CE0030;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    width: 5px;
    border-radius: 5px;
    height: 80px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.plonplon{
    font-size: 80px;
    font-weight: 700;
    color: black;
    position: absolute;
    text-transform: uppercase;
    top:120px;
    left: 50%;
    transform: translate(-50%);
    b{
        color: #CE0030;
    }
}
.barre-un, .barre-deux{
    position: absolute;
    background-color: #CE0030;
    width: 100%;
    height:100px;
    top: 0;
}
.barre-deux{
    bottom:0;
    top: inherit;
    background-color: black;
}
.newMdp{
    background-color: #CE0030 !important;
}



.englo{
    height: 100vh;

    .illus{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items:center;
        img{
            width: 60%;
        }
    }
    .contener-new{
        height: 100vh;
        display: flex;
        align-items: center;
        .droites{
            h1{
                font-size: 40px;
                margin-left: 5px;
                padding-bottom:20px;

            }
        }
    }
}
.contener-btn{

display: flex;
justify-content: space-between;
.retour{

    background-color: #CE0030;
}
}
.input-field .prefix.active{
    color: #CE0030 !important;
}

.redirect{
    width: 100%;
    height: 100vh;
    position: relative;
    .nuage1{
        position: absolute;
        top:200px;
        left: 100px;
        transform: scale(1.5);
    }
    .nuage2{
        position: absolute;
        top:50px;
        left: 50%;
        transform: scale(1.8);
    }
    .nuage3{
        position: absolute;
        top:180px;
        left:80%;
        transform: scale(1.2);
    }
    .nuage4{
        position: absolute;
        top:130px;
        left:30%;
        transform: scale(1.3);
    }
    .pierre1{
        position: absolute;
        top:600px;
        left:13%;
        transform: scale(1.3);
    }
    .pierre2{
        position: absolute;
        top:600px;
        left:13%;
        transform: scale(1.3);
    }
    .pierre3{
        position: absolute;
        top:600px;
        left:80%;
        transform: scale(1.3);
    }
    .pierre5{
        position: absolute;
        top:800px;
        left:80%;
        transform: scale(1.3);
    }
    img{
        position: absolute;
        top: 150px;
        left: 50%;
        transform: translate(-50%);

    }
    p{
        font-size: 30px;
        text-transform: uppercase;
        font-weight: 700;
        position: absolute;
        top:650px;
        left: 50%;
        transform: translate(-50%);
    }
    .redirectBtn{
        position: absolute;
        bottom:150px;
        left: 50%;
        transform: translate(-50%);
        background-color: #CE0030;
        opacity: 0.8;
        font-size: 20px;
        padding: 15px 30px;
        color: white;
        text-transform: uppercase;
        border-radius: 8px;
    }
}

.Forgot{

    width: 30%;
    height: 200px !important;
    position: absolute;
    top:50%;
    left: 30%;
    transform: translate(-50%,-50%);
    h4{
        font-size: 30px;
        text-align:center;
    }
    p{
        font-size: 20px;
        text-align:center;
        padding-top: 50px;
    }
}



/* ------------------------ MEDIA QUERIES 960px ---- */
@media screen and (max-width: 1850px) {
    .acceuil .row .container .container-bienvenue h1{
        font-size: 90px !important;
    }
}

@media screen and (max-width: 1700px) {
    .acceuil .row .container .container-bienvenue h1{
        font-size: 80px !important;
    }
}

@media screen and (max-width: 1500px) {
    .acceuil .row .container .container-bienvenue h1{
        font-size: 70px !important;
    }
}
@media screen and (max-width: 1400px){
    .acceuil .row .container .container-illu{
        width:55%;
        top:50px !important;
    }
    .test .contener-profil{
        margin-right: -110px;
    }
}
@media screen and (max-width: 1340px) {
    .acceuil .row .container .container-bienvenue h1{
        font-size: 60px !important;

    }
}
@media screen and (max-width: 1270px){
    .row .col.l4 {
        width: 45%;
    }
}
@media screen and (max-width: 1230px){
    .acceuil .row .container .container-illu {
        height: 530px;

    }
}
@media screen and (max-width: 1200px) {
    .acceuil .row .container .container-bienvenue h1{
        font-size: 50px !important;
    }
    .row .col.l5 {
        width: 100%;

    }
    .row .col.l7 {
        width: 100%;

    }
    ::-webkit-scrollbar-thumb{
        display: none;
    }
    .test .contener-profil .contener-description{
        border-right:none;
        border-bottom: solid 1px black;
        width: 80%;
             padding: 0px;
    margin-left: 70px;
    padding-top: 2px;
     padding-bottom:40px;

     margin-bottom: 20px;

    }
    .test .contener-profil .contener-img span.statut{
        left: 145px;
    }
    .test .contener-profil .contener-img{
        padding-left: 70px;
    }
    .test .contener-profil .contener-img .contener-text .card-title {

        width: 100%;

    }
    .test .contener-profil{
        height: 700px;
        overflow: scroll;
    }
    .test .contener-profil .contener-message{
        position: absolute;
        top: 100px;
        right: 0px;
    }


}
@media screen and (max-width: 1020px) {
    .acceuil .row .container .container-bienvenue h1{
        font-size: 40px !important;
    }
    .acceuil .row .container .container-illu {
        width: 46%;
        top: 20px !important;
    }
}

@media screen and (max-width: 1000px){
    footer {
        background-color: black !important;
        width: 100%;
        height: 250px;
    }
    .acceuil .row .container .container-bienvenue h1 {
        font-size: 60px !important;
        text-align: center;
    }
    .acceuil .row .container .droite {
        position: absolute;
        width: 100%;
        top: 460px;
    }
    .acceuil {
        height: 1000px;
    }
    body{
        overflow-y: scroll;
    }
    .acceuil .row .container .container-illu {
        width: 60%;
        top: 40px !important;
        left: 50%;
        transform: translate(-50%);
    }
    .acceuil .row .container .droite form input[type=submit]{
        width: 60%;
    }
    .acceuil .row .container .droite form input[type=password] {

        margin-bottom: 10px;
    }
    .acceuil .row .container .droite form .box label{
        left: 13%;
        padding-left: 0px;
    }
    footer .row .container-picto{
        width: 100%;
    }
    .acceuil .row .container .droite form .box input[type=mail]:focus + label, .acceuil .row .container .droite form .box input[type=password]:focus + label{
        padding-left: 0px;
    }

}
@media screen and (max-width: 900px){
    .row .col.l4 {
        width: 45%;

    }
    .burger {
        display: block;
    }
    .sidenav{
        left: -500px;
    }
    .contener-global .contener-main {

        left: 0px;
        width: 100%;

    }
    .sidenav .closerespo{
        display: block;
    }
    .contener-global .contener-main .contener-carte {
        width: 100%;
        overflow-y: scroll;
        height: 860px;
        margin-top: 0px;
        position: relative;
        padding-bottom: 90px;
        padding-right: 0px;
    }
}

@media screen and (max-width: 700px){
.acceuil .row .container .container-bienvenue h1 {
    font-size: 50px !important;
    text-align: center;
}
.acceuil .row .container .container-illu {
    width: 90%;
    top: 40px !important;
    left: 50%;
    transform: translate(-50%);
}
.row .col.l4 {
    width: 97%;

}
.contener-global .contener-main .contener-nav{
    padding-right: 0px !important;
}
.burger{
    top: 0px;
}
}

@media screen and (max-width: 530px){
    .contener-global .contener-main .contener-carte .card{
        margin: 0px ;
        margin-left: 10px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 500px){
    .acceuil .row .container {
        position: relative;
        width: 100% !important;
        max-width: inherit !important;
    }
    .acceuil .row .container .container-bienvenue h1{
        padding: 0px;
    }
    footer .row .container-picto a i {
        color: white;
        font-size: 32px !important;
    }
}

@media screen and (max-width: 450px){
    .contener-global .contener-main .contener-nav .col .filtres {
        padding-left: 68px;
    }
}

@media screen and (max-width: 400px){
    .acceuil .row .container .droite .suis .container-button .al {

        padding: 13px;
        font-size: 17px;

    }
    .acceuil .row .container .droite .suis .container-button .re {

        padding: 13px;
        font-size: 17px;

    }
    .acceuil .row .container .droite form .box label{
        font-size: 18px;
        top: 13px;
    }
    .acceuil .row .container .container-bienvenue h1 {
        font-size: 45px !important;
        text-align: center;
    }
    .contener-global .contener-main .contener-nav .col .recherche {

        position: absolute;
        left: 80px;
    }
}





